.icon-language-a{
  fill:#2d3d44;
}

.icon-user-a{
  fill:none;
  stroke:#2d3d44;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-width:1.5px;
}

.menu-account, .menu-account a {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}
.menu-account {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f2f5f5;
}
.menu-account >*{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

